# Students Do: Understanding customers

## Instructions

You are given a dataset that contains historical data from purchases of an online store made by 200 customers. In this activity you will put in action your data preprocessing superpowers, also you'll add some new skills needed to start finding customers clusters.

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
file_path = Path("../Resources/shopping_data.csv")

Load the data into a Pandas DataFrame, name it as `df_shopping` and fetch the top 10 rows.

In [3]:
df_shopping = pd.read_csv(file_path)
df_shopping.head(10)

   CustomerID Previous Shopper  Age  Annual Income  Spending Score (1-100)
0           1              Yes   19          15000                      39
1           2              Yes   21          15000                      81
2           3               No   20          16000                       6
3           4               No   23          16000                      77
4           5               No   31          17000                      40
5           6               No   22          17000                      76
6           7               No   35          18000                       6
7           8               No   23          18000                      94
8           9              Yes   64          19000                       3
9          10               No   30          19000                      72

List the DataFrame's data types to ensure they're aligned to the type of data stored on each column.

In [5]:
df_shopping.dtypes

CustomerID                 int64
Previous Shopper          object
Age                        int64
Annual Income              int64
Spending Score (1-100)     int64
dtype: object

**Question 1:** Is there any column whose data type need to be changed? If so, make the corresponding adjustments.

**Question 2:** Is there any unnecessary column that needs to be dropped? If so, make the corresponding adjustments.

In [6]:
new_df_shopping = df_shopping.drop(['CustomerID'], axis=1)
new_df_shopping.head(5)

  Previous Shopper  Age  Annual Income  Spending Score (1-100)
0              Yes   19          15000                      39
1              Yes   21          15000                      81
2               No   20          16000                       6
3               No   23          16000                      77
4               No   31          17000                      40

In [7]:
# Transform String columns
def change_string(member):
    if member == "Yes":
        return 1
    else: 
        return 0
new_df_shopping["Previous Shopper"] = new_df_shopping["Previous Shopper"].apply(change_string)
new_df_shopping.head(5)

   Previous Shopper  Age  Annual Income  Spending Score (1-100)
0                 1   19          15000                      39
1                 1   21          15000                      81
2                 0   20          16000                       6
3                 0   23          16000                      77
4                 0   31          17000                      40

In [9]:
new_df_shopping.isnull().sum()

Previous Shopper          0
Age                       0
Annual Income             0
Spending Score (1-100)    0
dtype: int64